@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
* {
  transition: ease-in-out .2s; }

.uppercase {
  text-transform: uppercase; }

.header {
  height: 90px;
  width: 100%;
  background-color: #1abc9c;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header div {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100%;
    margin-right: 50px; }
    .header div h3 {
      margin-right: 25px;
      color: white; }
    .header div .userPhoto {
      width: 50px; }
    .header div button {
      background-color: transparent;
      border: 2px solid white;
      margin-left: 50px;
      margin-right: auto;
      font-size: 16px;
      padding: 5px 25px;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer; }
      .header div button:hover {
        background-color: white;
        color: #1abc9c; }
  .header button {
    background-color: transparent;
    border: 2px solid white;
    margin-left: auto;
    margin-right: 50px;
    font-size: 16px;
    padding: 5px 25px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer; }
    .header button:hover {
      background-color: white;
      color: #1abc9c; }

.hero {
  height: 500px;
  width: 100%;
  background-color: #e0ddd7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero h1 {
    font-size: 56px;
    margin-top: 0; }
  .hero p {
    margin-bottom: 50px;
    font-size: 24px;
    color: gray; }
  .hero button {
    padding: 15px 75px;
    border: none;
    background-color: #1abc9c;
    color: white;
    font-weight: bold;
    font-size: 18px; }

.inputWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .inputWrapper .inputContainer {
    display: flex;
    width: 450px;
    margin: 25px auto;
    justify-content: flex-end; }
    .inputWrapper .inputContainer label {
      font-size: 24px; }
    .inputWrapper .inputContainer input {
      background-color: #1abc9c;
      border: none;
      width: 50%;
      margin-left: 20%;
      outline: none;
      color: white;
      font-weight: bold;
      padding: 0 15px; }
  .inputWrapper button {
    margin: 25px 0; }
  .inputWrapper .auth-container {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .inputWrapper .auth-container img {
      width: 50px;
      margin: 25px 25px;
      cursor: pointer; }

.form-section form {
  display: flex;
  flex-direction: column; }
  .form-section form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .form-section form div label {
      width: 100%;
      display: flex;
      margin: 5px 0; }
    .form-section form div input {
      margin-left: auto; }

.form-section button {
  margin-top: 25px; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  body .hidden {
    display: none !important; }
  body #root {
    width: 100%; }
    body #root a {
      text-decoration: none;
      color: black; }
  body button {
    outline: none; }
